:root {
	--white: #f4f6f6;
	--black: #010111;
	--primary: #0596ff;
	--secondary: #48b3ff;
	--bg: var(--white);

	--margins: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--bg);
	color: var(--primary);
	font-family: "Poppins", sans-serif;
}

body,
figure {
	margin: 0;
}

figure {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 120rem;

	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;

	padding-inline: var(--margins);
	margin-inline: auto;
}

ul {
	list-style: none;
	padding: 0;
}

section {
	margin: var(--section-margin) auto;
}

.containerScores {
	background-color: var(--white);
	border: var(--primary) solid 2px 2px;
	display: flex;
	flex-direction: column;
}
.topScoreBoard {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.list {
	display: flex;
	background-color: var(--secondary);
	gap: 2rem;
	justify-content: space-between;
	padding: 1rem;
}
