:root {
	--white: #f4f6f6;
	--black: #010111;
	--primary: #0596ff;
	--secondary: #48b3ff;
	--error-color: #ff0000;
	--bg: var(--white);
	--ice: #ebf7ff;

	--margins: 2rem;
	--nav-animation-time: 0.3s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--bg);
	color: var(--primary);
	font-family: "Poppins", sans-serif;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

body,
figure {
	margin: 0;
}

figure {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding-inline: var(--margins);
}

ul {
	list-style: none;
	padding: 0;
}

section {
	margin: var(--section-margin) auto;
}

/* HEADER */

header .container {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
}

header {
	background-color: var(--primary);
	padding-block: 0.5rem;
}

header h1 {
	margin: 0;
	justify-self: center;
	white-space: nowrap;
	color: var(--white);
	font-size: clamp(0.8rem, 4vw, 2rem);
	margin: 1rem;
}
.logo {
	background: transparent url("../assets/logo.svg") no-repeat center;
	height: 100%;
	aspect-ratio: 1/1;
	justify-self: flex-start;
	order: -1;
}

nav {
	justify-self: flex-end;
}
.nav-menu {
	display: flex;
	align-items: left;
	gap: 2rem;
}
.nav-item {
	position: relative;
	color: var(--white);
}

.nav-link {
	font-family: inherit;
	display: inline-block;
	align-items: center;
	gap: 0.5rem;
	text-transform: lowercase;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: 1.2rem;
}

.nav-link::before {
	font-family: "Font Awesome 5 Free";
	margin-right: .5rem;
}

.nav-link::after {
	content: "";
	display: block;
	margin-top: .25rem;
	width: 30%;
	height: 3px;
	background-color: var(--white);
	transition: width 0.3s ease;
}

.nav-link:is(:hover, :focus-within)::after,
.nav-link[aria-current="page"]::after {
	width: 100%;
}

/* hamburger menu */
.hamburger-btn {
	display: none;
	margin-left: auto;
	background: transparent;
	border: 2px solid var(--white);
	border-radius: 0.5rem;
	height: 4rem;
	aspect-ratio: 1/1;
}

.hamburger {
	transition: rotate 0.8s 0.1s;
	width: 100%;
	height: 100%;
}

.hamburger .line {
	stroke: var(--white);
	stroke-width: 10;
	stroke-linecap: round;
	stroke-dasharray: 80;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.3s ease-in 0.3, rotate 0.3s ease-in,
		opacity 0s 0.3s;
	-o-transform-origin: center;
	transform-origin: center;
}

.hamburger-btn .line.top {
	--rotation: -45deg;
	transform-origin: 60px 40px;
}

.hamburger-btn .line.bottom {
	--rotation: 45deg;
	transform-origin: 60px 55px;
}

/* MAIN  */

main {
	background-image: url("../assets/background.svg");
	background-size: cover;
	padding-block: var(--margins);
}

.welcome-screen {
	display: flex;
	flex-direction: row;
	margin-inline: var(--margins);
	justify-content: center;
}

.welcome-screen h2 {
	font-size: clamp(3rem, 4vw, 3.5rem);
	font-weight: 700;

	color: var(--white);
}
.menu h2 {
	text-transform: uppercase;
	text-align: center;
}

.menu {
	display: block;
	padding: var(--margins);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	border-radius: 2rem;
	width: clamp(16rem, 70vw, 25rem);
	background-color: var(--ice);
	border: 4px solid var(--primary);
	margin: var(--margins) auto;
}

.menu ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.menu li {
	width: 80%;
}

.menu .cta {
	width: 100%;
}

.overlay {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	cursor: pointer;
}

.overlay.active {
	display: block;
}
.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: var(--margins);
	max-width: 20rem;

	background-color: var(--primary);
	border-radius: 10px;
	color: var(--white);
}

/* Game */
.game {
	display: flex;
	justify-content: center;
	flex-flow: row-reverse;
	gap: 5rem;
	align-items: center;
	margin-block: var(--margins);
	flex-wrap: wrap;
}
.board {
	position: relative;
	background-color: var(--secondary);
	border-radius: 1rem;
	box-shadow: 0 2px 0.5rem rgb(0 0 0 / 50%);
}

/* cta */
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
	width: clamp(16rem, 70vw, 70rem);
	margin-inline: auto;
}

.cta {
	display: inline-block;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	padding: 0.75rem 1.5rem;
	border-radius: 0.4rem;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-size: clamp(1rem, 2vw, 1.5rem);
	text-decoration: none;
	border: 0;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta:not(.locked):is(:hover, :focus-within) {
	background-color: var(--secondary);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
}

/* tiles */

.tile {
	position: absolute;
	background-image: url("../assets/hexagon.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	text-align: center;
	user-select: none;

	/* color: transparent;  */
}

/* Voor elke hexagon een cirkel maken */
.tile:not(.iceberg)::after {
	content: "";
	position: absolute;
	background-color: var(--secondary);

	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 50%;
	transition: background-color 0.2s ease;
	opacity: 0.5;
}

.tile:not(.iceberg).selected::after {
	background-color: green;
}

.tile.penguin::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: auto;
	aspect-ratio: 40/46;
	background: transparent url("../assets/penguin.svg") no-repeat center;
	background-size: cover;
	z-index: 2;
	animation: penguin 0.5s infinite alternate 1s;
	transition: scale 0.3s ease, translate 0.3s ease;
}

.tile.penguin:hover::before {
	translate: 15% 15%;
	scale: 1.3;
}

/* patroon */
.patterns {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	place-items: center;
	gap: 2rem;
	padding: 2rem;
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	border-radius: 2rem;
	z-index: 2;
}
.pattern {
	position: relative;

	border: 0.2rem dashed black;
	border-radius: 1em;
	text-align: center;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.pattern:is(:hover, :focus-within) {
	border-color: var(--primary);
	box-shadow: 0 0 0.3rem rgb(255 255 255 / 20%);
}
.pattern.pattern--error {
	animation: pattern-error 0.25s infinite;
}

.iceberg {
	position: absolute;
	background: transparent url("../assets/iceberg.svg") no-repeat center;
	opacity: 0.75;
	cursor: grab;
}

.iceberg.placed {
	animation: highlight 0.5s linear forwards;
	cursor: default;
}

.iceberg.dragging {
	cursor: grabbing;
}

/* debug */
.point {
	position: absolute;
	
	transform: translate(-50%, -50%);
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	border-radius: 50%;
}

.locked {
	filter: grayscale(100%);
	pointer-events: none;
}

/* REGISTER & LOGIN */
form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: #fdfdfd;
	max-width: 31.25em; /* max-width of 500px by default em */
	margin: 0 auto; /* align the section & the form to the center of the page */
	padding: var(--margins);
	border: 1px solid #ddd;
	border-radius: 5px;
}

form h2 {
	margin-top: 0;
	font-size: clamp(1.5rem, 2vw, 2rem);
}
form > div:not(:last-child) {
	margin-bottom: 1.5rem;
}

/* to be consistent with other elements, see form > div, gap */
legend {
	margin-bottom: 0.5em;
}
/* Label */
label {
	display: inline-block;
	margin-bottom: 0.25rem;
}

label > span.field-label,
legend > span.field-label {
	display: block;
	font-size: 1.3em;
	font-weight: 600;
}

/* if there is an error */
label > span.field-error,
legend > span.field-error {
	display: inline-block;
	margin-top: 0.25em;
	color: var(--error-color);
}

/* hints or explanation for the user */
label > span.field-hint,
legend > span.field-hint {
	display: inline-block;
	margin: 0.25em 0em;
	color: #666;
}

input {
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 1.2em;
	padding: 0.75em;
	width: 98%; /* vraag niet waarom */
}

.toggle-password {
	width: 10%;
	aspect-ratio: 1/1;
	margin-left: -3rem;
	padding: 0.25rem;
	border: 0;
	background: transparent;
	color: inherit;
	cursor: pointer;
}

input.invalid {
	color: var(--error-color);
	outline-color: var(--error-color);
}

form .cta {
	padding: 0.75em;
	width: 98%;
}
label > abbr {
	color: var(--error-color);
	text-decoration: none;
}

form > a {
	color: var(--primary);
	font-size: clamp(0.8em, 1.2vw, 1.5em);
	text-align: center;
}
.errorSummary {
	color: var(--error-color);
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 1.25em;
	border: 1px solid var(--error-color);
	padding: 1em;
	border-radius: 0.5rem;
}

.errorSummary > ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.errorSummary > ul > li {
	list-style: none;
}

.errorSummary.hidden {
	display: none;
}

.errorLink,
form span.field-error {
	color: var(--error-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

/* HIGHSCORES */
.highscores-table {
	width: clamp(20rem, 100%, 50rem); /* min, preferred, max */
	margin: 0 auto;
	border-collapse: collapse;
}

.highscores-table th,
.highscores-table td {
	padding: 1rem;
	text-align: center;
	border: 3px solid var(--white);
}

.highscores-table th {
	font-size: clamp(1rem, 2vw, 1.5rem);
	background-color: #dde;
	font-weight: 700;
}

.highscores-table td {
	font-size: clamp(0.9rem, 2vw, 1.4rem);
	background-color: var(--primary);
	color: var(--white);
	font-weight: bold;
}

.highscores-table tr:nth-child(even) td {
	background-color: var(--secondary);
}

/* FOOTER */
footer {
	background-color: var(--primary);
	color: var(--white);
	padding: 1rem;
	text-align: center;
}
/* MEDIA QUERIES */
@media (max-width: 75rem) {
	nav {
		padding: 0;
		grid-column: span 3;
		overflow: hidden;
		height: 0;
		width: 100%;
	}

	.nav-menu {
		align-items: normal;
		flex-direction: column;
		gap: 3rem;
	}
	.nav-item .nav-link {
		display: inline-block;
	}
	.nav-link::after {
		margin-top: 0.2rem;
	}
	
	.hamburger-btn {
		display: flex;
	}

	.hamburger-btn[aria-expanded="true"] .hamburger {
		rotate: 1turn;
	}

	.hamburger-btn[aria-expanded="false"] :is(.top, .bottom) {
		animation: to-open-icon 1s forwards;
	}

	.hamburger-btn[aria-expanded="true"] :is(.top, .bottom) {
		animation: to-close-icon 1s forwards;
	}

	.hamburger-btn[aria-expanded="true"] + nav {
		animation: navShow var(--nav-animation-time) ease-in-out forwards;
	}

	.hamburger-btn[aria-expanded="false"] + nav {
		opacity: 1;
		height: 27rem;
		padding: 2rem;
		animation: navHide var(--nav-animation-time) ease-in-out forwards
			var(--nav-animation-time);
	}

	.hamburger-btn[aria-expanded="true"] + nav .nav-item {
		left: -100%;
		animation: navItemSlideIn calc(var(--nav-animation-time) + var(--fade))
			ease-in-out forwards var(--nav-animation-time);
	}

	.hamburger-btn[aria-expanded="false"] + nav .nav-item {
		animation: navItemSlideOut calc(var(--nav-animation-time) + var(--fade))
			ease-in-out forwards;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #272727;
		--black: var(--white);
		--box-shadow: 0 4px 20px 0 #ffffff40;
	}
}
/* ANIMATIONS */

/* spel */
@keyframes pattern-error {
	/* Wiggle and shake and make back ground color red and opacity .5 */
	0%,
	100% {
		transform: translateX(0);
		border-color: red;
		filter: blur(0.05rem);
	}
	33% {
		transform: translateX(-0.5rem);
		border-color: red;
		filter: blur(0.05rem);
	}
	66% {
		transform: translateX(0.5rem);
		border-color: red;
		filter: blur(0.05rem);
	}
}

@keyframes highlight {
	0% {
		scale: 0.75;
		opacity: 0.25;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes penguin {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}

	25% {
		transform: translate(-50%, -50%) rotate(3deg) scale(1.025);
	}

	50% {
		transform: translate(-50%, -50%) rotate(-3deg) scale(1.05);
	}
	100% {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

/* Hamburger animatie */
@keyframes to-close-icon {
	0% {
		stroke-dashoffset: 0;
	}

	40% {
		stroke-dashoffset: 79.9;
	}

	60% {
		stroke-dashoffset: 79.9;
		rotate: calc(var(--rotation));
	}

	100% {
		stroke-dashoffset: 0;
		rotate: var(--rotation);
	}
}

@keyframes to-open-icon {
	0% {
		stroke-dashoffset: 0;
		rotate: var(--rotation);
	}

	40% {
		stroke-dashoffset: 79.9;
		rotate: var(--rotation);
	}

	60% {
		stroke-dashoffset: 79.9;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

/* Nav animatie */
@keyframes navItemSlideIn {
	0% {
		left: -100%;
		display: none;
	}

	100% {
		left: 0;
	}
}

@keyframes navItemSlideOut {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
		display: none;
	}
}

@keyframes navShow {
	0% {
		opacity: 0;
		height: 0;
		padding: 0;
		display: none;
	}

	100% {
		opacity: 1;
		height: 27rem;
		padding: 2rem;
	}
}

@keyframes navHide {
	0% {
		opacity: 1;
		height: 27rem;
		padding: 2rem;
	}

	100% {
		opacity: 0;
		height: 0;
		padding: 0;
		display: none;
	}
}
