:root {
	--white: #f4f6f6;
	--black: #010111;
	--primary: #50a6e4;
	--secondary: #0034c3;
	--bg: var(--white);

	--margins: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--bg);
	color: var(--primary);
	font-family: "Quicksand", sans-serif;
}

body,
figure {
	margin: 0;
}

figure {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	position: relative;
	max-width: 100%;
	width: 100%;
	aspect-ratio: 8/5;
	object-fit: cover;
}

section {
	margin: var(--section-margin) auto;
}

.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;

	padding-inline: var(--margins);
	margin-inline: auto;
}

.game {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	place-items: center;
	
}
#board {
	position: relative;
	
}

.tile {
	position: absolute;
	background-image: url("../assets/hexagon.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Voor elke hexagon een cirkel maken */
.tile::after {
	content: "";
	position: absolute;
	color: var(--primary);
	border: 2px solid var(--secondary);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.tile.penguin::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: auto;
	aspect-ratio: 40/46;
	background: transparent url("../assets/penguin.svg") no-repeat center;
	background-size: cover;
	z-index: 2;
}

.patterns {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	padding: 2rem;
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	border-radius: 2rem;

}
.pattern {
	cursor: grabbing;
	height: max-content;
	object-fit: contain;
}
