:root {
	--white: #f4f6f6;
	--black: #010111;
	--primary: #0596ff;
	--secondary: #48b3ff;
	--error-color: #ff0000;
	--bg: var(--white);
	--ice: #ebf7ff;

	--margins: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--bg);
	color: var(--primary);
	font-family: "Poppins", sans-serif;
}

body,
figure {
	margin: 0;
}

figure {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 120rem;

	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;

	/*padding-inline: var(--margins);*/
	margin-inline: auto;
}

ul {
	list-style: none;
	padding: 0;
}

section {
	margin: var(--section-margin) auto;
}

/* HEADER */

header {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	/*margin-block: var(--margins);*/
	background-color: var(--primary);
	padding-inline: var(--margins);
}

header h1 {
	margin: 0;
	justify-self: center;
	color: var(--white);
}
.logo {
	background: transparent url("../assets/logo.svg") no-repeat center;
	height: 100%;
	aspect-ratio: 1/1;
	justify-self: flex-start;
	order: -1;
}

nav {
	justify-self: flex-end;
}
nav ul {
	display: flex;
	align-items: center;
	gap: 2rem;
}
nav li {
	color: var(--white);
}

nav a.fa {
	font-family: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	text-transform: lowercase;
	text-decoration: none;
	color: inherit;
}

nav a.fa::before {
	font-family: "Font Awesome 5 Free";
}

nav a::after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: var(--white);
	transition: width 0.3s ease;
}

nav a:is(:hover, :focus)::after {
	width: 100%;
}

#info:hover {
	cursor: pointer;
}

/* login & register */

.fa.login {
	flex-direction: row;
	border: 2px solid var(--white);
	border-radius: 0.4rem;
	padding: 0.5rem 1rem;
}

.fa.login-btn {
	margin-left: 2rem;
	background-color: var(--secondary);
	color: var(--white);
}
/* MAIN  */

main {
	background-image: url("../assets/background.svg");
	background-size: cover;
}


.menu h2 {
	text-transform: uppercase;
}

.menu {
	display: block;
	padding: var(--margins);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	border-radius: 2rem;
	width: clamp(20rem, 50vw, 25rem);
	background-color: var(--ice);
	border: 4px solid var(--primary);
	margin: 5rem auto;
}

.menu ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.menu li {
	width: 70%;
}

.overlay {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	cursor: pointer;
}

.overlay.active {
	display: block;
}
.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: var(--margins);
	max-width: 20rem;

	background-color: var(--primary);
	border-radius: 10px;
	color: var(--white);
}

/* Game */
.game {
	display: flex;
	justify-content: center;
	flex-flow: row-reverse;
	gap: 5rem;
	align-items: center;
	margin-block: var(--margins);
}
.board {
	position: relative;
	background-color: var(--secondary);
	border-radius: 1rem;
	box-shadow: 0 2px 0.5rem rgb(0 0 0 / 50%);
}

/* cta */
.buttons {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.cta {
	display: inline-block;
	width: 100%;
	background-color: var(--primary);
	color: var(--white);
	padding: 0.75rem 1.5rem;
	border-radius: 0.4rem;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-size: clamp(1rem, 2vw, 1.5rem);
	text-decoration: none;
	border: 0;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
	background-color: var(--secondary);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
}

.tile {
	position: absolute;
	background-image: url("../assets/hexagon.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	text-align: center;
	user-select: none;

	/* color: transparent;  */
}

/* Voor elke hexagon een cirkel maken */
.tile:not(.iceberg)::after {
	content: "";
	position: absolute;
	background-color: var(--secondary);

	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 50%;
	transition: background-color 0.2s ease;
	opacity: 0.5;
}

.tile:not(.iceberg).selected::after {
	background-color: green;
}

.tile.penguin::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: auto;
	aspect-ratio: 40/46;
	background: transparent url("../assets/penguin.svg") no-repeat center;
	background-size: cover;
	z-index: 2;
	animation: penguin 0.5s infinite alternate 1s;
	transition: scale 0.3s ease, translate 0.3s ease;
}

.tile.penguin:hover::before {
	translate: 15% 15%;
	scale: 1.3;
}

.patterns {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	place-items: center;
	gap: 2rem;
	padding: 2rem;
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
	border-radius: 2rem;
	z-index: 2;
}
.pattern {
	position: relative;

	border: 0.2rem solid black;
	border-radius: 1em;
	text-align: center;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.pattern:is(:hover, :focus) {
	border-color: var(--primary);
	box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
}
.pattern.pattern--error {
	animation: pattern-error 0.25s infinite;
}

.iceberg {
	position: absolute;
	background: transparent url("../assets/iceberg.svg") no-repeat center;
	opacity: 0.75;
	cursor: grab;
}

.iceberg.placed {
	animation: highlight 0.5s linear forwards;
	cursor: default;
}

/* .iceberg:nth-child(1) {
	background-color: red;
}

.iceberg:nth-child(2) {
	background-color: blue;
}

.iceberg:nth-child(3) {
	background-color: green;
}

.iceberg:nth-child(4) {
	background-color: yellow;
} */
.iceberg.dragging {
	cursor: grabbing;
}

.locked {
	filter: grayscale(100%);
	pointer-events: none;
}

/* REGISTER & LOGIN */
form {
	/* you can put this also on the form tag */
	background-color: #fdfdfd;
	max-width: 31.25em; /* max-width of 500px by default em */
	margin: 0 auto; /* align the section & the form to the center of the page */
	padding: 5%;
	border: 1px solid #ddd;
	border-radius: 5px;
}

form > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: 1.75em;
}

div.radiobutton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

div.checkbox {
	display: flex;
	flex-direction: row;
	align-items: top;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

/* to be consistent with other elements, see form > div, gap */
legend {
	margin-bottom: 0.5em;
}
/* Label */
label > span.field-label,
legend > span.field-label {
	display: block;
	font-size: 1.3em;
	font-weight: 600;
}

/* if there is an error */
label > span.field-error,
legend > span.field-error {
	display: inline-block;
	margin-top: 0.25em;
	color: var(--error-color);
}

/* hints or explanation for the user */
label > span.field-hint,
legend > span.field-hint {
	display: inline-block;
	margin: 0.25em 0em;
	color: #666;
}

input {
	border: 1px solid #ccc;
	font-size: 1.2em;
	padding: 0.75em;
	width: 90%; /* fallback if calc isn't working */
	width: calc(100% - 1.5em); /* full width minus padding */
}

input.invalid {
	color: var(--error-color);
	outline-color: var(--error-color);
}

form .cta {
	padding: 0.75em;
	width: 90%; /* fallback if calc isn't working */
	width: calc(100% - 1.5em); /* full width minus padding */
}
label > abbr {
	color: var(--error-color);
	text-decoration: none;
}

.errorSummary {
	color: var(--error-color);
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 1.25em;
	border: 1px solid var(--error-color);
	padding: 1em;
	border-radius: 0.5rem;
}

.errorSummary > ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.errorSummary > ul > li {
	list-style: none;
}

.errorSummary.hidden {
	display: none;
}

.errorLink,
form span.field-error {
	color: var(--error-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

@keyframes pattern-error {
	/* Wiggle and shake and make back ground color red and opacity .5 */
	0%,
	100% {
		transform: translateX(0);
		border-color: red;
		filter: blur(0.05rem);
	}
	33% {
		transform: translateX(-0.5rem);
		border-color: red;
		filter: blur(0.05rem);
	}
	66% {
		transform: translateX(0.5rem);
		border-color: red;
		filter: blur(0.05rem);
	}
}

@keyframes highlight {
	0% {
		scale: 0.75;
		opacity: 0.25;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes penguin {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}

	25% {
		transform: translate(-50%, -50%) rotate(3deg) scale(1.025);
	}

	50% {
		transform: translate(-50%, -50%) rotate(-3deg) scale(1.05);
	}
	100% {
		transform: translate(-50%, -50%) scale(1.1);
	}
}
